.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.colors {
  display: flex;
}
.color {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 0 5px;
  position: relative;
}
.color:first-child {
  margin-left: 0;
}
.color.active::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
}
.color.active::before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border: 1px solid white;
}
.black {
  background-color: black;
}
.white {
  background-color: #f1f1f1;
}
.gray {
  background-color: gray;
}
.yellow {
  background-color: rgb(247, 233, 33);
}